*{
    font-family: 'Montserrat';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: white;
}
header{
    background-color: rgb(228, 42, 42);
    margin:0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header .links li{
    list-style: none;
}
header .links li a{
    display: inline-block;   
    height: 50px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
header .links li a span ion-icon{
    font-size: 26px;
}
header .links li a span{
    margin-right: 10px;
    font-weight: bold;
    transition: 0.3s all ease;
}
header .links li a span:nth-child(2):hover{
    letter-spacing: 3px;
}
main {
    position: relative;
    width: 100%;
    margin-top: 130px;
    box-shadow: 0px 20px 24px rgba(0,0,0,0.4);
}
main div.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div.img img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
#main_content{
    width:100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin:0 auto;
}
#main_content h1 { 
    font-size: 4em;
    letter-spacing: 3px;
}
#main_content h3{
    display: block;
    margin-top: 30px;
}
#main_content a {
    font-family: 'Poppins';
    display: block;
    text-decoration: none;
    color: white;
    margin:20px auto;
    width: 50%;
    padding:12px;
    border-radius:20px;
    background-color: #ffa600;
    transition: 0.4s all ease;
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.4);
}

#main_content a:hover{
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.4);
    background-color: #ff7300;

}